@import '~antd/dist/antd.css';
#search{
    width: 400px;
    height: 57px;
    font-size: 18px;
    border-radius: 28px;
    border: 3px solid black;
    padding-left: 24px;
    background: rgba(255,255,255,.8);
}
.centered{
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#search:focus{
    outline: none;
}
h1{
    font-size: 1rem;
}
img{
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: auto;
}
.imgSmall img{
    max-height: 150px;
}
.imgBig img{
    max-height: 300px;
}
.row{
    margin-right: 0px; 
    margin-left: 0px; 
}
.item{
    -webkit-box-shadow: -1px 3px 21px -15px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 3px 21px -15px rgba(0,0,0,0.58);
    box-shadow: -1px 3px 21px -15px rgba(0,0,0,0.58);
    margin-bottom: 25px;
}
.mlr-auto{
    margin-left: auto;
    margin-right: auto;
}

.checkbox{
    display: inline;
}
.title{
    font-weight: bold;
    padding: 5px;
}






#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }